// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { overflow-x: hidden; }
*{
	padding: 0;
	margin: 0;
}

.container {
  width: 100%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


.navbar {
	width: 100% !important;
	background: none !important;
	position: relative !important; 
	border: 0 !important;
	border-radius: 0 !important;
}

.navbar  .navbar-nav li a {
	color: white !important; 
}

.outdoor {
	width: 100%;
	height: 900px;
  	
  	margin-right: auto;
  	margin-left: auto;
  	
	background-image: url("images/background1.png") ;
	background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.outdoor2 {
	background: #3e578e; 
	width: 100%;
	height: auto;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.outdoor2 ul{
	margin-top: 100px;

}
.outdoor2 li{

	list-style-type: none;
	color: white;
	padding:0;
}

.texto{
	font-size: 20px;
	width: 100%;
	height: auto;
	color: white;
}

.outdoor3 {
	background: #e8edee; 
	width: 100%;
	height: auto;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.icone {
	width: 60%;
	height: auto;
}


.iconesocial{
	width: 40%;
	height: auto;
}
@media (max-width: 768px) {
  .icone {
    height: 100%;
    padding: 0;
  }

  .outdoor2 li{
  	font-size: 10px;
  	list-style-type: none;
	color: white;
	padding:0;
  }
  .outdoor{
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}

.outdoor3 ul{
	margin-top: 100px;
}
.outdoor3 li{
	list-style-type: none;
	color: #19535b;
	padding:0;
}
.outdoor4 {
	width: 100%;
	height: 1200px;
  	
  	margin-right: auto;
  	margin-left: auto;

	background-image: url("images/backgorud2.png");
	background-repeat: no-repeat, repeat;
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
    background-size: cover;
}




.outdoor5 {
	background: #3e578e; 
	width: 100%;
	height: auto;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.outdoor5 ul{
	margin-top: 50px;
}
.outdoor5 li{
	list-style-type: none;
	color: white;
	padding:0;
}

.revisaoimg{
	

	width: 50%;
	height: auto;
}

.outdoor6 {
	background: #e8edee; 
	width: 100%;
	height: auto;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.outdoor6 ul{
	margin-top: 100px;
}
.outdoor6 li{
	list-style-type: none;
	color: #19535b;
	padding:0;
}

.parceiros{
	
	width: 70%;
	height: auto;
}

.outdoor7 {
	background: #d1842b; 
	width: 100%;
	height: 360px;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.outdoor7 ul{
	margin-top: 100px;
}
.outdoor7 li{
	list-style-type: none;
	color: white;
	padding:0;
}

.outdoor8 {
	background: #e8edee; 
	width: 100%;
	height: 300px;
  	
  	margin-right: auto;
  	margin-left: auto;
}

.outdoor8 ul{
	margin-top: 500px;
}
.outdoor8 li{
	list-style-type: none;
	color: #19535b;
	padding:0;
}
.logo{
	margin-left: 300px;
	margin-top: 40px;
	width: 100%;

}

.menu1{
	margin-top: 100px;
	margin-left: 270px;
}

.menu2{
	margin-top: 150px;
	margin-left: -400px;
}
.sociais{
	height: 200px;
	color: white;
	background-color: #d1842b;
}
